:root{
    --primary-color:#2F303A;
    --secondary-color:#F5F4FA ;
    --accent-color:#2196F3;
    --text-color:#757575;
    --head-color:#212121;
    --common-white: #FFFFFF;
    --title-size: 36px;
    --btn-size:16px;
}
   
body{
    font-style: normal;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    color: var(--text-color);
    background-color: var(--common-white);
    line-height: 1.14;
}
a{
    text-decoration: none;  
}
.list{
    list-style: none;
}
.header{
    font-weight: 500;
    letter-spacing: 0.02em;
    height: 80px;
    padding-left: 215px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
      
.logo {
    color: var(--accent-color);
    font-weight: 700;
    font-size: 26px;
    font-family: "Raleway", sans-serif;
    line-height:1.19;
    letter-spacing: 0.025em;
    margin-right: 54px;
}
.header-logo>span{
    color: var(--head-color);
}
.footer-logo>span{
    color: var(--common-white);
}
.navigation-link{  
    color: var(--head-color); 
    }
.curent{
    color: var(--accent-color);
}
.navigation-link:hover, .navigation-link:focus, .contact-link:hover, .contact-link:focus{
    color: var(--accent-color);

}
.contact-link{
  color: var(--text-color);
  padding-right: 30px;
 }
.navigation-list, .navigation {
    display: flex;
    align-items: center;
}
.navigation-item {
    margin-right: 50px;
}
.contact-list{
    display: flex;
    margin-right: 215px;
}
.hero{
background-color: var(--primary-color);
height: 600px;
width: auto;
}
.tittle-hero{
    color: var(--common-white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    /* margin: auto;
    text-align: center;
    padding: 200px 450px 30px 450px ;
    width: 696px; */
}
.button-hero{
    width: 200px;
    height: 50px;
    background-color: var(--accent-color);
    color: var(--common-white);
    border: 1px solid var(--head-color);
    font-size: var(--btn-size);
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    border-radius: 4px;
    font-weight: 700;
    text-shadow: 1px  1px  1px var(--head-color);
    /* margin: 0 auto;
   display: block; */
   
}
.button-hero:hover, .button-hero:focus{
    background-color:var(--common-white);
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.team-list, .benefits-list, .we-doing-list{
    display: flex;
    align-items:center;
     /* margin: auto;
    padding: 0; 
    justify-content:space-between;
    width: 1170px; */
  
}
.benefits-item{
    width: 270px;
    /* margin-top: 94px; */
  }
.benefits-title{
    color: var(--head-color);
    text-transform: uppercase;
    font-weight: 700;
  }
.benefits-text{
     line-height: 1.71;
   }
/* .we-doing{
    margin: auto;
    width: auto;
  
} */
.we-doing-title, .team-title{
    color: var(--head-color );
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    /* width: 1600px;
    padding-top: 94px;
    padding-bottom: 50px;
    text-align: center;
    margin: auto; */
}

.team{
    background-color: var(--secondary-color);
    font-size: 16px;
    /* margin: auto;
    width: auto; */
}

 .team-item{
    background-color: var(--common-white);
    line-height: 1.19;
    text-align: center;
    /* margin-bottom: 94px; */
    /* mix-blend-mode: normal;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
} 
.team-name{
color: var(--head-color);
font-weight: 500;
}

.footer{
    background-color: var(--primary-color);
}
.footer-box{
    padding: 60px 215px;
      }
 .footer-list{
    margin: auto;
    padding: 0;
   } 

.footer-link{
    color: var(--common-white);
    line-height: 1.71;
     }
.footer-link:hover, .footer-link:focus{
    color: var(--accent-color);
}
      
.footer-adress{
      font-style: normal;
   }
 
 .portfolio-btn-list{
display:flex; 
align-items:center;
width: 611px;
justify-content:space-between;
justify-items: 30px;
}
.portfolio{
    margin: 94px 215px;
}
.portfolio-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background: var(--secondary-color);
    color: var(--head-color);
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

}
.portfolio-btn:active, .portfolio-btn:hover, .portfolio-btn:focus{
    color: var(--common-white);
    background-color: var(--accent-color);

}
.portfolio-img-list{
    font-size: 16px;
    line-height: 1.19;
    display:flex; 
    width: 1170px;
    flex-wrap: wrap;
    justify-content:space-between;
}
.portfolio-link{
    color: var(--text-color);
    display: block; }

.portfolio-link:hover, .portfolio-link:focus{
        border-color: #212121;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
        color: var(--accent-color);
    
    }

.portfolio-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--head-color);
}




